@model WebApplication1.Models.Sınıflar.Departman
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Departman Güncelleme</h2>
<br />

@using (Html.BeginForm("DepartmanGüncelle", "Departman", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.DepartmanAdı)
        @Html.TextBoxFor(x => x.DepartmanAdı, new { @class = "form-control" })
        @Html.HiddenFor(x => x.DepartmanId)
    </div>

    <button class="btn btn-default" style="background-color:yellowgreen">Güncelle</button>
}

