
@{
    ViewBag.Title = "DepartmanDetay";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Detay Sayfası</h2>
<br />
<div style="background-color:darkgray">Deneme</div>
<br />
<table class="table table-hover">
    <tr>
        <th>Personel ID</th>
        <th>Adı</th>
        <th>Soyad</th>
        <th>Görsel</th>
        <th>Satışlar</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Ali</td>
        <td>Bulut</td>
        <td>Btest</td>
        <td><a href="#" class="btn btn-default" style="background-color:crimson;color:white">Satışlar</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Fatih</td>
        <td>Erik</td>
        <td>test</td>
        <td><a href="#" class="btn btn-default" style="background-color:crimson;color:white">Satışlar</a></td>
    </tr>
</table>
